<div class="row">
    <% @boards.each do |board| %>
    <div class="col s12 m4">
    <div class="card blue darken-4">
      <div class="card-content white-text">
        <span class="card-title"><%= link_to board.title, board_path(board) %></span>
      </div>
      <div class="card-action">
        <p><%= link_to "Edit", edit_board_path(board) %>  <%= link_to "Delete", board, method: :delete %></p>
      </div>
    </div>
    </div>
    <% end %>
</div>

